<template>
  <footer class="z-20">
    <div class="h-32 shadow-[0px_-1px_3px_#00000033] px-5 pt-6 min-h-32 bg-white rounded-t-xl border border-b-[#00000033]">
      <button
        class="w-full py-3 text-[#E6FFFA] rounded-xl leading-4 header-cta"
      >
        Kostenlos Registrieren
      </button>
    </div>
  </footer>
</template>

<style scoped>
.header-cta {
  background:linear-gradient(95deg, #319795 0%, #3182CE 100%);
}

.header-cta:hover{
  background:linear-gradient(95deg, #287a79 0%, #3182CE 100%);
}
</style>
