<template>
  <nav
    id="nav"
    class="shadow-lg h-[67px] rounded-b-xl bg-white sticky top-0 w-full z-20"
  >
    <div class="flex justify-end items-center p-5 min-h-full">
      <a
        href="#"
        class="text-primary text-sm hover:underline leading-4 font-semibold tracking-[0.84px]"
      >Login</a>
    </div>
  </nav>
</template>

<script lang="ts">
import Vue from 'vue';
export default Vue.extend({

});
</script>

<style lang="css" scoped>
#nav::before {
  content: '';
  width: 100%;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(91deg, #319795 0%, #3182CE 100%);
}
</style>
