<template>
  <section class="py-7">
    <div>
      <ul
        id="tabs-container"
        ref="tabsContainer"
        class="flex flex-row px-5 list-none border-b-0 mb-7 overflow-x-auto transition-all"
      >
        <li
          v-for="(t, i) in tabs"
          :key="i"
          class="bg-white cursor-pointer hover:bg-gray-50 text-primary h-10 flex items-center px-8 text-center border border-[#CBD5E0]"
          role="presentation"
          :class="{
            'bg-secondary text-[#E6FFFA] hover:bg-primary': selectedTab === t,
            'rounded-l-xl': i === 0,
            'rounded-r-xl': i === 2
          }"
          @click="handleTabClick(t, i)"
        >
          {{ t }}
        </li>
      </ul>
      <div>
        <h2
          class="text-[#4A5568] text-[21px] text-center leading-6 font-medium mb-5 px-5"
          v-html="tabContent[selectedTab].title"
        />
        <!-- Step 1  -->
        <div class="px-5">
          <div class="w-[13.6875rem] h-36 ml-auto mr-5">
            <img
              :src="tabContent[selectedTab].steps[0].img"
              class="object-cover min-h-full"
            >
          </div>
          <div class="flex items-baseline text-[#718096] leading-none relative -top-10">
            <div class="w-[174px] h-[208px] opacity-5 bg-[#718096] absolute -top-8 -left-8 rounded-full z-10" />
            <span class="text-[130px]">1.</span>
            <p class="text-base ml-5">
              {{ tabContent[selectedTab].steps[0].content }}
            </p>
          </div>
        </div>

        <!-- Step 2 -->
        <div
          class="px-5 h-[22.5rem] flex justify-center flex-col relative"
          style="background: linear-gradient(134deg, #E6FFFA 0%, #EBF4FF 100%)"
        >
          <svg
            class="absolute top-0 left-0"
            data-name="Layer 1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 1200 120"
            preserveAspectRatio="none"
          ><path
            d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
            class="shape-fill"
            fill="#FFFFFF"
            fill-opacity="1"
          /></svg>

          <div class="flex items-baseline text-[#718096] leading-none mb-5">
            <span class="text-[130px]">2.</span>
            <p class="text-base ml-5">
              {{ tabContent[selectedTab].steps[1].content }}
            </p>
          </div>
          <div class="w-[11.25rem] h-[7.875rem] mx-auto">
            <img
              :src="tabContent[selectedTab].steps[1].img"
              class="object-cover min-h-full"
            >
          </div>
          <!-- Bottom shape  -->
          <svg
            class="absolute bottom-0 left-0"
            data-name="Layer 1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 1200 120"
            preserveAspectRatio="none"
          ><path
            d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
            class="shape-fill"
            fill="#FFFFFF"
            fill-opacity="1"
          /></svg>
        </div>

        <!-- Step 3  -->
        <div
          class="px-5 h-[22.5rem] flex justify-center flex-col"
        >
          <div class="flex items-baseline text-[#718096] leading-none relative">
            <div class="w-[250px] h-[303px] opacity-5 bg-[#718096] absolute -top-8 -left-8 rounded-full z-10" />

            <span class="text-[130px]">3.</span>
            <p class="text-base ml-5 relative -top-10">
              {{ tabContent[selectedTab].steps[2].content }}
            </p>
          </div>
          <div class="w-[17.5rem] h-[13.125rem] mx-auto">
            <img
              :src="tabContent[selectedTab].steps[2].img"
              class="object-cover min-h-full"
            >
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script lang='ts'>
import { Vue, Component, Ref } from 'nuxt-property-decorator';
const ladyCardImg = require('@/assets/lady-card.png');
const taskCardImg = require('@/assets/task-card.png');
const personalCardImg = require('@/assets/personal-card.png');

@Component
export default class ComponentName extends Vue {
  @Ref('tabsContainer') tabsContainer!: HTMLUListElement;

  selectedTab = 'Arbeitnehmer';
  tabs = ['Arbeitnehmer', 'Arbeitgeber', 'Temporärbüro'];

  tabContent: {
    [key: string]: {
      title: string,
      steps: { img: any, content: string }[]
    }
  } = {
      Arbeitnehmer: {
        title: 'Drei einfache Schritte <br/> zu deinem neuen Job',
        steps: [
          { content: 'Erstellen dein Lebenslauf', img: ladyCardImg },
          { content: 'Erstellen dein Lebenslauf', img: taskCardImg },
          { content: 'Mit nur einem Klick bewerben', img: personalCardImg }
        ]
      },
      Arbeitgeber: {
        title: 'Drei einfache Schritte <br/> zu deinem neuen Mitarbeiter',
        steps: [
          { content: 'Erstellen dein Unternehmensprofil', img: ladyCardImg },
          { content: 'Erstellen ein Jobinserat', img: taskCardImg },
          { content: 'Wähle deinen neuen Mitarbeiter aus', img: personalCardImg }
        ]
      },
      Temporärbüro: {
        title: 'Drei einfache Schritte zur <br/> Vermittlung neuer Mitarbeiter',
        steps: [
          { content: 'Erstellen dein Lebenslauf', img: ladyCardImg },
          { content: 'Erhalte Vermittlungs- angebot von Arbeitgeber', img: taskCardImg },
          { content: 'Vermittlung nach Provision oder Stundenlohn', img: personalCardImg }
        ]
      }
    };

  handleTabClick (t: string, i: number) {
    const lastSelectedTabIdx = this.tabs.findIndex(t => t === this.selectedTab);

    this.selectedTab = t;
    // scroll the tab container

    if (lastSelectedTabIdx > i) {
      this.tabsContainer.scrollTo({
        left: -(i + 1) * 60,
        behavior: 'smooth'
      });
    } else {
      this.tabsContainer.scrollTo({
        left: (i + 1) * 60,
        behavior: 'smooth'
      });
    }
  }
}
</script>
<style scoped>
#tabs-container::-webkit-scrollbar {
  display: none;
}
.custom-shape-divider-top-1641303159 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1641303159 svg {
    position: relative;
    display: block;
    width: calc(124% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1641303159 .shape-fill {
    fill: #FFFFFF;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1641303159 svg {
        width: calc(107% + 1.3px);
        height: 38px;
    }
}
</style>
