<template>
  <header class="bg-tertiary flex flex-col -mt-3">
    <div class="pt-[30px] flex flex-col">
      <h1 class="text-[42px] text-center leading-[3.125rem] font-medium tracking-[1.26px]">
        Deine Job<br> website
      </h1>
      <div class="flex flex-1 min-h-[25.25rem]">
        <img
          class="object-cover min-h-full"
          :src="require('@/assets/header.png')"
        >
      </div>
    </div>
  </header>
</template>
