<template>
  <div
    id="app"
    class="max-w-[360px] max-h-[678px] mx-auto border border-[#ccc] overflow-x-hidden relative"
  >
    <!-- Nav -->
    <TheNav />
    <!-- Content -->
    <main>
      <Nuxt />
    </main>
    <TheFooter class="sticky bottom-0" />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import TheNav from '@/components/TheNav.vue';
import TheFooter from '@/components/TheFooter.vue';

export default Vue.extend({
  components: {
    TheNav,
    TheFooter
  }
});
</script>

<style scoped>
#app::-webkit-scrollbar {
  display: none;
}
</style>
