<template>
  <Fragment>
    <Header />
    <Feats />
  </Fragment>
</template>

<script lang="ts">
import Vue from 'vue';
import { Fragment } from 'vue-frag';
import Header from '@/components/index/Header.vue';
import Feats from '@/components/index/Feats.vue';

export default Vue.extend({
  components: {
    Fragment,
    Header,
    Feats
  }
});
</script>
